.menu {
    margin: 35px;
}

html,
body {
    height: 100%;
    margin: 0;
}

.header {
    clear: both;
    float: none;
    background-color: #000;
    color: #fc0;
    padding: 10px;
    font-size: 10px;
}

.header.footer {
    text-align: right;
    color: #fff;
}

.header p {
    margin: 0;
}

.header p a {
    color: #fc0;
}

h1 {
    color: #fff;
    margin: 0 0 10px 0;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica-Neue', Helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #333;
}

a {
    color: #fc0;
    text-decoration: none;
    font-weight: normal;
}

a.button {
    color: #fff;
    background: #fc0;
    padding: 7px 12px;
    border-radius: 6px;
}

.container {
    margin: 20px;
}

#left {
    float: left;
    max-width: 230px;
    margin-right: 5px;
    overflow: hidden;
    color: #999;
}

#main {
    float: left;
    width: 80%;
}

h2 {
    clear: both;
    display: block;
}

#data {
    width: 100%;
    padding: 0;
    margin: 0;
}

#data td,
#data th {
    color: #999;
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #F3EFEA;
    text-align: left;
}

.thumbBig {
    display: block;
    float: left;
    background: #F3EFEA;
    margin: 0 20px 20px 0;
    padding: 20px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
}


.thumbWord {
    display: block;
    float: left;
    background: #F3EFEA;
    margin: 0 20px 20px 0;
    padding: 20px;
    font-size: 125px;
    line-height: 100%;
    text-align: center;
}

.thumbs {
    clear: both;
}

.thumbs label,
.thumbWord label {
    margin-top: 15px;
    color: #666;
    font-size: 10px;
    line-height: 10px;
    font-style: normal;
    display: block;
    clear: both;
    font-family: sans-serif;
}

.contexto {
    display: block;
    clear: both;
    background: #F3EFEA;
    text-align: left;
    padding: 20px;
    font-size: 50px;
    line-height: 140%;
    font-family: "SBL_grk", serif;
}

.signos {
    background-color: #FFE360;
}

.signos a {
    color: #000;
}

.signos a:hover {
    color: #ff0000;
}

.menu a {
    display: block;
    float: left;
    width: auto;
    height: auto;
    border-right: 1px solid #fff;
    text-align: center;
    margin: 10px 0;
    padding: 0 3px;
}

.menu .char {
    font-family: 'SBL_grk', 'GentiumPlus-R', serif, 'UnicodeFallback';
    font-size: 120px;
    line-height: 150px;
}

.menu .nombre {
    display: block;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

#inputtext {
    clear: both;
    float: none;
    margin: 35px 0 10px;
}

#inputtext input {
    font-size: 30px;
    width: 98%;
    line-height: 40px;
    padding: 10px;
}

@font-face {
    font-family: 'UnicodeFallback';
    src: url('UnicodeBMPFallback.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeBlank';
    src: url('AdobeBlank.ttf');
    font-weight: normal;
    font-style: normal;
}